<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">Thumbnail</th>
                <th scope="col" class="px-6 py-3">Title</th>
                <th scope="col" class="px-6 py-3">Subtitle</th>
                <th scope="col" class="px-6 py-3">Action</th>
            </tr>
        </thead>
        <tbody>
          <% @contents.each do |content| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= image_tag(content.thumbnail)%></td>
              <td class="px-6 py-4"><%= content.title %></td>
              <td class="px-6 py-4"><%= content.subtitle %></td>
              <td class="px-6 py-4" >
                <%= button_to "Save", contents_path(content: { title: content.title, subtitle: content.subtitle, thumbnail: content.thumbnail }), method: :post, remote: true, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline save-btn" %>
              </td>
            </tr>
          <% end %>
        </tbody>
    </table>
</div>
